body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 200px;
  background: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg");
}

tr {
  padding: 10px;
}

.thead,
.table {
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  background: rgb(22, 102, 22);
}

.thead {
  background: #000;
}
.table td,
.thead th,
table {
  color: #fa0;
  border-collapse: collapse;
  text-align: center;
  border: 2px solid black;
  border-spacing: 0px;
}

.pagination {
  /* background: #af0; */
  padding: 10px;
  font-weight: bold;
  align-items: center;
}
.previous {
  color: rgb(177, 22, 22);
  box-shadow: 1px 5px 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;

  border-radius: 5px;
}
.num_button {
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background: rgb(192, 132, 132);
  font-size: 20px;
  padding: 5 10px;
}
.num_button:active {
  color: #fff;
  background: #000;
}
